@import "@vue-flow/core/dist/style.css";
@import "@vue-flow/core/dist/theme-default.css";

// components imports
@import "./scss/components/loader.scss";
@import "./scss/components/pagination.scss";
@import "./scss/components/vue-flow.scss";

@import "./scss/components/hero-list.scss";

* {
  font-family: space mono;
  font-weight: 700;
  color-scheme: light dark;
}

.container {
  padding: 20px;
}
.app-title {
  text-align: center;
}
